In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import unicodedata
import datetime

In [111]:
import pandas as pd  
train = pd.read_csv("data_format2/train_format2.csv", sep=',')  

# train()

In [112]:
print(train.shape)
train.head()

(7030723, 6)

,user_id,age_range,gender,merchant_id,label,activity_log
0,34176,6.0,0.0,944,-1,408895:1505:7370:1107:0
1,34176,6.0,0.0,412,-1,17235:1604:4396:0818:0#954723:1604:4396:0818:0...
2,34176,6.0,0.0,1945,-1,231901:662:2758:0818:0#231901:662:2758:0818:0#...
3,34176,6.0,0.0,4752,-1,174142:821:6938:1027:0
4,34176,6.0,0.0,643,-1,716371:1505:968:1024:3

In [113]:
# user_log = pd.read_csv("data_format1/user_log_format1.csv", sep=',')
# user_log.rename(columns={'seller_id':'merchant_id'}, inplace = True)
# user_log.shape

In [114]:
# user_log.head()

In [115]:
# import pandas as pd  
# user_info = pd.read_csv("data_format1/user_info_format1.csv", sep=',')

# user_info.head()

In [116]:
# train_format1 = pd.read_csv("data_format1/train_format1.csv", sep=',')

# train_format1.shape

In [117]:
test = pd.read_csv("data_format2/test_format2.csv", sep=',')  

test.head()

,user_id,age_range,gender,merchant_id,label,activity_log
0,163968,0.0,0.0,4378,-1.0,101206:812:6968:0614:0
1,163968,0.0,0.0,2300,-1.0,588758:844:3833:0618:0#71782:844:3833:1111:2#7...
2,163968,0.0,0.0,1551,-1.0,312747:243:1954:0627:0#312747:243:1954:0627:0#...
3,163968,0.0,0.0,4343,-1.0,932390:1612:3201:0628:0
4,163968,0.0,0.0,4911,-1.0,957657:662:3089:0612:0

In [118]:
print(test.shape)

(7027943, 6)

In [119]:
test_for_output = test[test.label != -1.0]
test_for_output.shape

(261477, 6)

# This cell is for various test

In [120]:
# test.loc[test['user_id'] == 328862]
test.loc[test['user_id'] == 2]

# train['merchant_id'].value_counts()
# user_log.item_id.value_counts()

,user_id,age_range,gender,merchant_id,label,activity_log
5872630,2,3.0,0.0,2194,-1.0,192767:276:5103:1020:0
5872631,2,3.0,0.0,3552,-1.0,293244:1401:2276:1010:2#917794:1401:2276:1010:2
5872632,2,3.0,0.0,1816,-1.0,215563:276:2044:1020:0
5872633,2,3.0,0.0,4924,-1.0,77292:1142:856:1111:2
5872634,2,3.0,0.0,1179,-1.0,916474:500:8120:1111:2
5872635,2,3.0,0.0,1974,-1.0,431502:737:8321:0817:0#864941:737:8321:0817:0#...
5872636,2,3.0,0.0,1544,-1.0,669860:737:654:1002:0
5872637,2,3.0,0.0,1784,NaN,274076:420:7936:1111:2#274076:420:7936:1111:2
5872638,2,3.0,0.0,1679,NaN,286376:1130:7931:1111:2#655497:1130:7931:1111:...
5872639,2,3.0,0.0,3716,-1.0,899591:898:2946:1111:3
5872640,2,3.0,0.0,2412,-1.0,281455:389:4801:1108:3
5872641,2,3.0,0.0,2223,-1.0,348983:177:3273:0527:0#749563:177:3273:0527:0
5872642,2,3.0,0.0,2076,-1.0,1068315:703:1283:0721:2
5872643,2,3.0,0.0,420,-1.0,239288:602:4953:0626:0#751744:602:4953:0626:0#...

In [121]:
sample_sub = pd.read_csv("sample_submission.csv", sep=',')  

sample_sub.shape
# no need to hand in all 7027943 rows, only rows with label = NaN

(261477, 3)

## Merge train and test
### then we can clean the data in these two data sets together

### We don't care about label = -1 in train and test
### We should predict the probability only for those rows with label = NaN in test

In [122]:
df_all = pd.concat([train,test])
df_all.shape

(14058666, 6)

### An important thing I notice is that:
in train, no NaN in cloumn 'label'
so we can split 'df_all' according to this observation

In [123]:
train.isnull().sum()

user_id             0
age_range       19380
gender          61712
merchant_id         0
label               0
activity_log     2975
dtype: int64

In [124]:
test.isnull().sum()

user_id              0
age_range        19420
gender           63250
merchant_id          0
label           261477
activity_log      3006
dtype: int64

In [125]:
df_all.isnull().sum()

user_id              0
age_range        38800
gender          124962
merchant_id          0
label           261477
activity_log      5981
dtype: int64

### for column age_range 0 means unknown
### for column gender 2 means unknown.

In [126]:
df_all['age_range'] = df_all['age_range'].fillna(0)
df_all['gender'] = df_all['gender'].fillna(2)

df_all.isnull().sum()

user_id              0
age_range            0
gender               0
merchant_id          0
label           261477
activity_log      5981
dtype: int64

In [127]:
df_all['label'].value_counts()

-1.0    13536325
 0.0      244912
 1.0       15952
Name: label, dtype: int64

### Drop rows with label = -1

In [128]:
# -1 represents that it is not a new customer of the given merchant
# thus out of our prediction.
df_all = df_all[df_all.label != -1]
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522341 entries, 6 to 7027926
Data columns (total 6 columns):
user_id         522341 non-null int64
age_range       522341 non-null float64
gender          522341 non-null float64
merchant_id     522341 non-null int64
label           260864 non-null float64
activity_log    522224 non-null object
dtypes: float64(3), int64(2), object(1)
memory usage: 27.9+ MB

# Whether label imbalanced? 
# We only focus on label = 0 and 1
# Maybe SMOTE needed?

In [129]:
# df_all.loc[((df_all.label==1)==True).index]
new_test = (df_all.loc[df_all['label'] ==1])
print(new_test.shape)
# new_test['user_id'].value_counts()
# df_all.loc[df_all['user_id'] ==34176]
# af.groupby(['name','course'])['score'].sum()

(15952, 6)

In [130]:
# print('1 denotes  it is a repeat buyer for that merchant_id , while 0 is the opposite. -1 represents that it is not a new customer of the given merchant, thus out of our prediction. ')

# df_all.groupby('label').count()[['age_range']].plot.bar()

### The next thing is to handle Activity_log
### item_id : category_id : brand_id : time_stamp : action_type
### '#' is used to separate two neighbouring elements

In [131]:
# df_all['activity_log'].isnull().value_counts()
# user_log['time_stamp'].value_counts()

In [132]:
# there are some NaN in activity log
# which can be troublesome when I split the cell
# so I decide to change NaN to ''
df_all['activity_log'] = df_all['activity_log'].fillna('-2:-2:-2:-2:-2')

In [133]:
# df_all.head(8830)

In [134]:
# df_all.loc[156, :].activity_log

In [135]:
df_tmp = df_all.loc[234278,:]
df_tmp

user_id                 373146
age_range                    3
gender                       0
merchant_id               3376
label                        0
activity_log    -2:-2:-2:-2:-2
Name: 234278, dtype: object

In [136]:


# counter_a = 0
# counter_b = 0
# log_test  = df_all
# tmp_arr = []
# for j in list(log_test['activity_log']):
#     counter_a += 1
#     for i in j.split('#'):
#         counter_b += 1
#         print(counter_a, counter_b)
#         tmp_arr.append(i.split(':')[1])

In [137]:
# extend activity_log into several columns
# make a copy
log_test  = df_all
# item_id:category_id:brand_id:time_stamp:action_type

log_test['item_list'] = log_test['activity_log'].apply(lambda x: [i.split(':')[0] for i in x.split('#')])
log_test['cat_list'] = log_test['activity_log'].apply(lambda x: [i.split(':')[1] for i in x.split('#')])
log_test['brand_list'] = log_test['activity_log'].apply(lambda x: [i.split(':')[2] for i in x.split('#')])
log_test['time_list'] = log_test['activity_log'].apply(lambda x: [i.split(':')[3] for i in x.split('#')])
#log_test['act_list'] = log_test['activity_log'].apply(lambda x: [i.split(':')[4] for i in x.split('#')])
log_test['act_times'] = log_test['item_list'].apply(len)
log_test['click'] = log_test['activity_log'].apply(lambda x: [i.split(':').count('0') for i in x.split('#')].count(1))
log_test['add_cart'] = log_test['activity_log'].apply(lambda x: [i.split(':').count('1') for i in x.split('#')].count(1))
log_test['purchase'] = log_test['activity_log'].apply(lambda x: [i.split(':').count('2') for i in x.split('#')].count(1))
log_test['add_fav'] = log_test['activity_log'].apply(lambda x: [i.split(':').count('3') for i in x.split('#')].count(1))
log_test.drop(['activity_log'],axis=1,inplace=True)

In [138]:
log_test.info()
log_test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522341 entries, 6 to 7027926
Data columns (total 14 columns):
user_id        522341 non-null int64
age_range      522341 non-null float64
gender         522341 non-null float64
merchant_id    522341 non-null int64
label          260864 non-null float64
item_list      522341 non-null object
cat_list       522341 non-null object
brand_list     522341 non-null object
time_list      522341 non-null object
act_times      522341 non-null int64
click          522341 non-null int64
add_cart       522341 non-null int64
purchase       522341 non-null int64
add_fav        522341 non-null int64
dtypes: float64(3), int64(7), object(4)
memory usage: 79.8+ MB

,user_id,age_range,gender,merchant_id,label,item_list,cat_list,brand_list,time_list,act_times,click,add_cart,purchase,add_fav
6,34176,6.0,0.0,3906,0.0,"[757713, 757713, 757713, 718096, 757713, 61369...","[821, 821, 821, 1142, 821, 821, 821, 821, 1397...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1110, 1110, 1110, 1031, 1031, 1021, 1108, 102...",39,36,0,1,2
30,34176,6.0,0.0,121,0.0,"[800752, 800752, 800752, 800752, 800752, 80075...","[1028, 1028, 1028, 1028, 1028, 1028, 1028, 102...","[2337, 2337, 2337, 2337, 2337, 2337, 2337, 233...","[1110, 1110, 1110, 1110, 1108, 1108, 1108, 110...",14,13,0,1,0
40,34176,6.0,0.0,4356,1.0,"[709909, 709909, 709909, 709909, 709909, 70990...","[1208, 1208, 1208, 1208, 1208, 1208, 1208, 120...","[2276, 2276, 2276, 2276, 2276, 2276, 2276, 227...","[1110, 1110, 1110, 1110, 1110, 1110, 1111, 111...",18,12,0,6,0
63,34176,6.0,0.0,2217,0.0,"[399879, 399879]","[656, 656]","[3012, 3012]","[1111, 1111]",2,1,0,1,0
117,230784,0.0,0.0,4818,0.0,"[155695, 155695, 155695, 155695, 155695, 15569...","[2, 2, 2, 2, 2, 2, 2, 2]","[7606, 7606, 7606, 7606, 7606, 7606, 7606, 7606]","[1111, 1111, 1110, 1110, 1108, 1108, 1108, 1108]",8,7,0,7,0

In [139]:
def div_ten(c):  
    return int(int(c)/100)

In [140]:
log_test['time_5'] = [ list(map(div_ten,it)).count(5) for it in log_test['time_list'].tolist()]
log_test['time_6'] = [ list(map(div_ten,it)).count(6) for it in log_test['time_list'].tolist()]
log_test['time_7'] = [ list(map(div_ten,it)).count(7) for it in log_test['time_list'].tolist()]
log_test['time_8'] = [ list(map(div_ten,it)).count(8) for it in log_test['time_list'].tolist()]
log_test['time_9'] = [ list(map(div_ten,it)).count(9) for it in log_test['time_list'].tolist()]
log_test['time_10'] = [ list(map(div_ten,it)).count(10) for it in log_test['time_list'].tolist()]
log_test['time_11'] = [ list(map(div_ten,it)).count(11) for it in log_test['time_list'].tolist()]

idx = log_test.columns.tolist().index('time_5')


log_test['time_cov'] = np.sqrt(log_test.iloc[:, idx:idx+7].var(axis=1))

In [141]:
# log_test.drop(['time_list'], axis=1, inplace=True)

In [142]:
log_test.head()

,user_id,age_range,gender,merchant_id,label,item_list,cat_list,brand_list,time_list,act_times,...,purchase,add_fav,time_5,time_6,time_7,time_8,time_9,time_10,time_11,time_cov
6,34176,6.0,0.0,3906,0.0,"[757713, 757713, 757713, 718096, 757713, 61369...","[821, 821, 821, 1142, 821, 821, 821, 821, 1397...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1110, 1110, 1110, 1031, 1031, 1021, 1108, 102...",39,...,1,2,0,0,0,0,0,29,10,10.982670
30,34176,6.0,0.0,121,0.0,"[800752, 800752, 800752, 800752, 800752, 80075...","[1028, 1028, 1028, 1028, 1028, 1028, 1028, 102...","[2337, 2337, 2337, 2337, 2337, 2337, 2337, 233...","[1110, 1110, 1110, 1110, 1108, 1108, 1108, 110...",14,...,1,0,0,0,0,0,0,0,14,5.291503
40,34176,6.0,0.0,4356,1.0,"[709909, 709909, 709909, 709909, 709909, 70990...","[1208, 1208, 1208, 1208, 1208, 1208, 1208, 120...","[2276, 2276, 2276, 2276, 2276, 2276, 2276, 227...","[1110, 1110, 1110, 1110, 1110, 1110, 1111, 111...",18,...,6,0,0,0,0,0,0,0,18,6.803361
63,34176,6.0,0.0,2217,0.0,"[399879, 399879]","[656, 656]","[3012, 3012]","[1111, 1111]",2,...,1,0,0,0,0,0,0,0,2,0.755929
117,230784,0.0,0.0,4818,0.0,"[155695, 155695, 155695, 155695, 155695, 15569...","[2, 2, 2, 2, 2, 2, 2, 2]","[7606, 7606, 7606, 7606, 7606, 7606, 7606, 7606]","[1111, 1111, 1110, 1110, 1108, 1108, 1108, 1108]",8,...,7,0,0,0,0,0,0,0,8,3.023716

In [143]:
(log_test['time_cov']==0).value_counts()

False    522224
True        117
Name: time_cov, dtype: int64

## Handle Unknown Values in age_range and gender
## age_range=0 and gender=2

In [144]:
log_test['age_range'].value_counts()

3.0    138524
0.0    114245
4.0    102598
2.0     62385
5.0     51232
6.0     43382
7.0      8430
8.0      1517
1.0        28
Name: age_range, dtype: int64

# Replace age 8 with 7

In [145]:
log_test.age_range.replace(8, 7, inplace=True)

In [146]:
# make a copy 
for_test = log_test

In [147]:
# qq = for_test[for_test['age_range']==0].index
# len(list(qq))

In [148]:
# change age_range=0  -->  age_range=3 or 4 according to binomial distribution
# for j in list(qq):
#     for_test.loc[j,'age_range'] = 3 + np.random.binomial(1,0.5)
#     print(j)

# for_test.loc[for_test['age_range']==0,'age_range'] = 3

In [149]:
for_test['age_range'].value_counts()

3.0    138524
0.0    114245
4.0    102598
2.0     62385
5.0     51232
6.0     43382
7.0      9947
1.0        28
Name: age_range, dtype: int64

In [150]:
for_test['gender'].value_counts()

0.0    352691
1.0    148094
2.0     21556
Name: gender, dtype: int64

In [151]:
# qq = for_test[log_test['gender']==2].index
# len(list(qq))

In [152]:
# change gender=2  -->  gender=0 or 1 according to binomial distribution
# for j in list(qq):
#     for_test.loc[j,'gender'] = np.random.binomial(1,0.3)
for_test.loc[for_test['gender']==2,'gender'] = 0

In [153]:
for_test['gender'].value_counts()

0.0    374247
1.0    148094
Name: gender, dtype: int64

In [154]:
log_test = for_test
# for_test.head()

In [155]:
# for_test = log_test
# for_test.shape

## Dummy Encoding

In [156]:
for_test = pd.get_dummies(log_test, columns=['age_range'])

In [157]:
for_test.head()
# print(for_test.shape)

,user_id,gender,merchant_id,label,item_list,cat_list,brand_list,time_list,act_times,click,...,time_11,time_cov,age_range_0.0,age_range_1.0,age_range_2.0,age_range_3.0,age_range_4.0,age_range_5.0,age_range_6.0,age_range_7.0
6,34176,0.0,3906,0.0,"[757713, 757713, 757713, 718096, 757713, 61369...","[821, 821, 821, 1142, 821, 821, 821, 821, 1397...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1110, 1110, 1110, 1031, 1031, 1021, 1108, 102...",39,36,...,10,10.982670,0,0,0,0,0,0,1,0
30,34176,0.0,121,0.0,"[800752, 800752, 800752, 800752, 800752, 80075...","[1028, 1028, 1028, 1028, 1028, 1028, 1028, 102...","[2337, 2337, 2337, 2337, 2337, 2337, 2337, 233...","[1110, 1110, 1110, 1110, 1108, 1108, 1108, 110...",14,13,...,14,5.291503,0,0,0,0,0,0,1,0
40,34176,0.0,4356,1.0,"[709909, 709909, 709909, 709909, 709909, 70990...","[1208, 1208, 1208, 1208, 1208, 1208, 1208, 120...","[2276, 2276, 2276, 2276, 2276, 2276, 2276, 227...","[1110, 1110, 1110, 1110, 1110, 1110, 1111, 111...",18,12,...,18,6.803361,0,0,0,0,0,0,1,0
63,34176,0.0,2217,0.0,"[399879, 399879]","[656, 656]","[3012, 3012]","[1111, 1111]",2,1,...,2,0.755929,0,0,0,0,0,0,1,0
117,230784,0.0,4818,0.0,"[155695, 155695, 155695, 155695, 155695, 15569...","[2, 2, 2, 2, 2, 2, 2, 2]","[7606, 7606, 7606, 7606, 7606, 7606, 7606, 7606]","[1111, 1111, 1110, 1110, 1108, 1108, 1108, 1108]",8,7,...,8,3.023716,1,0,0,0,0,0,0,0

In [158]:
for_test_backup = for_test

# Create new features

### Split out train set, calculate some features for mid

In [159]:
train_after_split_for_add_new_feature = for_test[for_test.label.notnull()]
train_after_split_for_add_new_feature.shape

(260864, 29)

# Add features for mid

In [160]:
mid_act_type_ori = ['label', 'click', 'add_cart', 'purchase', 'add_fav', 'gender', 'age_range_1.0', 'age_range_2.0', 'age_range_3.0', 'age_range_4.0', 'age_range_5.0', 'age_range_6.0', 'age_range_7.0', 'age_range_0.0']
mid_act_type = ['mid_label_ratio', 'mid_mean_click_times', 'mid_mean_add_cart', 'mid_mean_purchase', 'mid_mean_add_fav', 'mid_mean_gender', 'mid_mean_age_range_1.0', 'mid_mean_age_range_2.0', 'mid_mean_age_range_3.0', 'mid_mean_age_range_4.0', 'mid_mean_age_range_5.0', 'mid_mean_age_range_6.0', 'mid_mean_age_range_7.0', 'mid_mean_age_range_0.0']

# mid_act_type_ori = ['label', 'click', 'add_cart', 'purchase', 'add_fav', 'gender']
# mid_act_type = ['mid_label_ratio', 'mid_mean_click_times', 'mid_mean_add_cart', 'mid_mean_purchase', 'mid_mean_add_fav', 'mid_mean_gender']

In [161]:
# for_test_backup = for_test
# for_test = for_test_backup

In [162]:
print(for_test.shape)
for_test.info()

(522341, 29)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 522341 entries, 6 to 7027926
Data columns (total 29 columns):
user_id          522341 non-null int64
gender           522341 non-null float64
merchant_id      522341 non-null int64
label            260864 non-null float64
item_list        522341 non-null object
cat_list         522341 non-null object
brand_list       522341 non-null object
time_list        522341 non-null object
act_times        522341 non-null int64
click            522341 non-null int64
add_cart         522341 non-null int64
purchase         522341 non-null int64
add_fav          522341 non-null int64
time_5           522341 non-null int64
time_6           522341 non-null int64
time_7           522341 non-null int64
time_8           522341 non-null int64
time_9           522341 non-null int64
time_10          522341 non-null int64
time_11          522341 non-null int64
time_cov         522341 non-null float64
age_range_0.0    522341 non-null uint8
age_range_1.0    522341 non-null uint8
age_range_2.0    522341 non-null uint8
age_range_3.0    522341 non-null uint8
age_range_4.0    522341 non-null uint8
age_range_5.0    522341 non-null uint8
age_range_6.0    522341 non-null uint8
age_range_7.0    522341 non-null uint8
dtypes: float64(3), int64(14), object(4), uint8(8)
memory usage: 111.7+ MB

In [163]:

# create_feature_test = train_after_split_for_add_new_feature

# for i in range(len(mid_act_type_ori)):
#     mid_mean_all_grouped = create_feature_test[mid_act_type_ori[i]].groupby(create_feature_test['merchant_id'])
#     mid_mean_all = mid_mean_all_grouped.mean()

#     mid_mean_all = mid_mean_all.to_frame(name = mid_act_type[i])
#     mid_mean_all.reset_index(inplace = True)

#     mid_mean_all.loc[mid_mean_all.shape[0]+1] = {'merchant_id':4807, mid_act_type[i]: mid_mean_all.mean()[1] }

#     for_test = pd.merge(for_test, mid_mean_all, on='merchant_id')
# for_test.shape


create_feature_test = for_test

for i in range(len(mid_act_type_ori)):
# for i in range(1):
    
    mid_mean_all_grouped = create_feature_test[mid_act_type_ori[i]].groupby(create_feature_test['merchant_id'])
    mid_mean_all = mid_mean_all_grouped.mean()

    mid_mean_all = mid_mean_all.to_frame(name = mid_act_type[i])
    
#     print(mid_mean_all.loc[4807, :])
    mid_mean_all.reset_index(inplace = True)
    
#     print(int(mid_mean_all.loc[mid_mean_all['merchant_id']==4807].index))
    if i == 0:
        mid_mean_all.loc[mid_mean_all.loc[mid_mean_all['merchant_id']==4807].index, 'mid_label_ratio'] = mid_mean_all.mean()[1]
#     print(mid_mean_all.loc[mid_mean_all['merchant_id']==4807])

    for_test = pd.merge(for_test, mid_mean_all, on='merchant_id')
print(for_test.shape)
# for_test.info()

(522341, 43)

In [164]:
for_test[for_test.label.isnull()].head()

,user_id,gender,merchant_id,label,item_list,cat_list,brand_list,time_list,act_times,click,...,mid_mean_add_fav,mid_mean_gender,mid_mean_age_range_1.0,mid_mean_age_range_2.0,mid_mean_age_range_3.0,mid_mean_age_range_4.0,mid_mean_age_range_5.0,mid_mean_age_range_6.0,mid_mean_age_range_7.0,mid_mean_age_range_0.0
73,325008,0.0,3906,NaN,"[523545, 523545, 523545, 523545, 523545]","[662, 662, 662, 662, 662]","[6268, 6268, 6268, 6268, 6268]","[1014, 1014, 1110, 1110, 1111]",5,2,...,0.65035,0.13986,0.0,0.048951,0.202797,0.13986,0.167832,0.181818,0.027972,0.230769
74,282768,0.0,3906,NaN,"[670847, 874935, 384944, 684569, 670847, 89304...","[1142, 1142, 1577, 1142, 1142, 154, 748, 1142,...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1111, 1111, 1111, 1111, 1111, 1111, 1111, 111...",9,8,...,0.65035,0.13986,0.0,0.048951,0.202797,0.13986,0.167832,0.181818,0.027972,0.230769
75,187542,0.0,3906,NaN,"[561246, 118930, 118930, 561246, 67356, 67356,...","[1095, 662, 662, 1095, 1095, 1095, 1095, 662, ...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1111, 1111, 1111, 1111, 1111, 1111, 1111, 111...",27,25,...,0.65035,0.13986,0.0,0.048951,0.202797,0.13986,0.167832,0.181818,0.027972,0.230769
76,97206,0.0,3906,NaN,"[832131, 371457, 832131, 212935, 832131, 38494...","[662, 662, 662, 662, 662, 1577, 662, 1577, 662...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[0704, 0704, 0704, 0704, 0704, 1111, 0704, 111...",27,26,...,0.65035,0.13986,0.0,0.048951,0.202797,0.13986,0.167832,0.181818,0.027972,0.230769
77,153795,0.0,3906,NaN,"[315990, 315990, 315990, 315990, 315990, 31599...","[1577, 1577, 1577, 1577, 1577, 1577, 1577, 157...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1107, 1111, 1111, 1111, 1107, 1107, 1111, 110...",18,16,...,0.65035,0.13986,0.0,0.048951,0.202797,0.13986,0.167832,0.181818,0.027972,0.230769

In [165]:
mid_month_ori = ['time_5', 'time_6', 'time_7', 'time_8', 'time_9', 'time_10', 'time_11']
mid_month = ['mid_time_5', 'mid_time_6', 'mid_time_7', 'mid_time_8', 'mid_time_9', 'mid_time_10', 'mid_time_11']

In [166]:

create_feature_test = for_test

for i in range(len(mid_month_ori)):
# for i in range(1):
    
    mid_mean_all_grouped = create_feature_test[mid_month_ori[i]].groupby(create_feature_test['merchant_id'])
    mid_mean_all = mid_mean_all_grouped.mean()

    mid_mean_all = mid_mean_all.to_frame(name = mid_month[i])
    
    mid_mean_all.reset_index(inplace = True)
    
#     print(int(mid_mean_all.loc[mid_mean_all['merchant_id']==4807].index))
#     if i == 0:
#         mid_mean_all.loc[mid_mean_all.loc[mid_mean_all['merchant_id']==4807].index, 'mid_label_ratio'] = mid_mean_all.mean()[1]
#     print(mid_mean_all.loc[mid_mean_all['merchant_id']==4807])

    for_test = pd.merge(for_test, mid_mean_all, on = 'merchant_id')
print(for_test.shape)

(522341, 50)

# Add mid item/cat/brand features

In [167]:
# for_test.head()

In [168]:
# mid_item_cat_brand_ori = ['item_list', 'cat_list', 'brand_list']
# mid_all_count_item_cat_brand = ['mid_item_count', 'mid_cat_count', 'mid_brand_count']

In [169]:
# for i in range(len(mid_all_count_item_cat_brand)):


#     create_feature_test = for_test.copy()
    
#     mid_mean_all_grouped = create_feature_test[mid_item_cat_brand_ori[i]].groupby(create_feature_test['merchant_id'])

#     mid_mean_all = mid_mean_all_grouped.sum()

#     mid_mean_all = mid_mean_all.to_frame(name = 'tmp_number')
#     mid_mean_all.reset_index(inplace = True)
    
#     mid_mean_all[mid_all_count_item_cat_brand[i]] = mid_mean_all['tmp_number'].apply(lambda x: len(set(x)))

#     mid_mean_all.drop('tmp_number', inplace = True, axis = 1)

#     for_test = pd.merge(for_test, mid_mean_all, on = 'merchant_id')

# #     for_test[uid_mid_count_item_cat_brand_time[i]] = for_test[uid_item_cat_brand_time_ori[i]].apply(lambda x: len(set(x)))
    
# #     for_test[uid_mid_ratio_item_cat_brand_time[i]] = for_test[uid_mid_count_item_cat_brand_time[i]] / for_test[uid_all_count_item_cat_brand_time[i]]

In [170]:
# for_test.head()

# Add features for uid

In [171]:
uid_act_type_ori = ['click', 'add_cart', 'purchase', 'add_fav']
uid_act_type = ['uid_mean_click_times', 'uid_mean_add_cart', 'uid_mean_purchase', 'uid_mean_add_fav']

In [172]:
create_feature_test = for_test

for i in range(len(uid_act_type_ori)):
    uid_mean_all_grouped = create_feature_test[uid_act_type_ori[i]].groupby(create_feature_test['user_id'])
    uid_mean_all = uid_mean_all_grouped.mean()

    uid_mean_all = uid_mean_all.to_frame(name = uid_act_type[i])
    uid_mean_all.reset_index(inplace = True)
    # uid_mean_all.head()
    for_test = pd.merge(for_test, uid_mean_all, on='user_id')
for_test.shape

(522341, 54)

# Add uid item/cat/brand/time features

In [173]:
uid_item_cat_brand_time_ori = ['item_list', 'cat_list', 'brand_list', 'time_list']
uid_all_count_item_cat_brand_time = ['uid_item_count', 'uid_cat_count', 'uid_brand_count', 'uid_time_count']
uid_mid_count_item_cat_brand_time = ['uid_mid_item_count', 'uid_mid_cat_count', 'uid_mid_brand_count', 'uid_mid_time_count']
uid_mid_ratio_item_cat_brand_time = ['uid_mid_item_ratio', 'uid_mid_cat_ratio', 'uid_mid_brand_ratio', 'uid_mid_time_ratio']

In [174]:
for i in range(len(uid_mid_ratio_item_cat_brand_time)):


    create_feature_test = for_test.copy()
    
    uid_mean_all_grouped = create_feature_test[uid_item_cat_brand_time_ori[i]].groupby(create_feature_test['user_id'])

    uid_mean_all = uid_mean_all_grouped.sum()

    uid_mean_all = uid_mean_all.to_frame(name = 'tmp_number')
    uid_mean_all.reset_index(inplace = True)
    
    uid_mean_all[uid_all_count_item_cat_brand_time[i]] = uid_mean_all['tmp_number'].apply(lambda x: len(set(x)))

    uid_mean_all.drop('tmp_number', inplace = True, axis = 1)

    for_test = pd.merge(for_test, uid_mean_all, on = 'user_id')

    for_test[uid_mid_count_item_cat_brand_time[i]] = for_test[uid_item_cat_brand_time_ori[i]].apply(lambda x: len(set(x)))
    
    for_test[uid_mid_ratio_item_cat_brand_time[i]] = for_test[uid_mid_count_item_cat_brand_time[i]] / for_test[uid_all_count_item_cat_brand_time[i]]

In [175]:
for_test.head()

,user_id,gender,merchant_id,label,item_list,cat_list,brand_list,time_list,act_times,click,...,uid_mid_item_ratio,uid_cat_count,uid_mid_cat_count,uid_mid_cat_ratio,uid_brand_count,uid_mid_brand_count,uid_mid_brand_ratio,uid_time_count,uid_mid_time_count,uid_mid_time_ratio
0,34176,0.0,3906,0.0,"[757713, 757713, 757713, 718096, 757713, 61369...","[821, 821, 821, 1142, 821, 821, 821, 821, 1397...","[6268, 6268, 6268, 6268, 6268, 6268, 6268, 626...","[1110, 1110, 1110, 1031, 1031, 1021, 1108, 102...",39,36,...,0.833333,9,6,0.666667,4,1,0.25,9,9,1.000000
1,34176,0.0,121,0.0,"[800752, 800752, 800752, 800752, 800752, 80075...","[1028, 1028, 1028, 1028, 1028, 1028, 1028, 102...","[2337, 2337, 2337, 2337, 2337, 2337, 2337, 233...","[1110, 1110, 1110, 1110, 1108, 1108, 1108, 110...",14,13,...,0.041667,9,1,0.111111,4,1,0.25,9,3,0.333333
2,34176,0.0,4356,1.0,"[709909, 709909, 709909, 709909, 709909, 70990...","[1208, 1208, 1208, 1208, 1208, 1208, 1208, 120...","[2276, 2276, 2276, 2276, 2276, 2276, 2276, 227...","[1110, 1110, 1110, 1110, 1110, 1110, 1111, 111...",18,12,...,0.083333,9,1,0.111111,4,1,0.25,9,2,0.222222
3,34176,0.0,2217,0.0,"[399879, 399879]","[656, 656]","[3012, 3012]","[1111, 1111]",2,1,...,0.041667,9,1,0.111111,4,1,0.25,9,1,0.111111
4,81036,0.0,3906,0.0,"[684569, 684569, 488509, 684569, 684569, 67084...","[1142, 1142, 1577, 1142, 1142, 1142, 1142]","[6268, 6268, 6268, 6268, 6268, 6268, 6268]","[1111, 1111, 1111, 1111, 1111, 1104, 1104]",7,5,...,0.375000,5,2,0.400000,2,1,0.50,3,2,0.666667

# Drop columns with list

In [176]:
for_test.drop('item_list', axis=1, inplace=True)
for_test.drop('brand_list', axis=1, inplace=True)
for_test.drop('cat_list', axis=1, inplace=True)
for_test.drop('time_list', axis=1, inplace=True)

# Overview

In [177]:
for_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522341 entries, 0 to 522340
Data columns (total 62 columns):
user_id                   522341 non-null int64
gender                    522341 non-null float64
merchant_id               522341 non-null int64
label                     260864 non-null float64
act_times                 522341 non-null int64
click                     522341 non-null int64
add_cart                  522341 non-null int64
purchase                  522341 non-null int64
add_fav                   522341 non-null int64
time_5                    522341 non-null int64
time_6                    522341 non-null int64
time_7                    522341 non-null int64
time_8                    522341 non-null int64
time_9                    522341 non-null int64
time_10                   522341 non-null int64
time_11                   522341 non-null int64
time_cov                  522341 non-null float64
age_range_0.0             522341 non-null uint8
age_range_1.0             522341 non-null uint8
age_range_2.0             522341 non-null uint8
age_range_3.0             522341 non-null uint8
age_range_4.0             522341 non-null uint8
age_range_5.0             522341 non-null uint8
age_range_6.0             522341 non-null uint8
age_range_7.0             522341 non-null uint8
mid_label_ratio           522341 non-null float64
mid_mean_click_times      522341 non-null float64
mid_mean_add_cart         522341 non-null float64
mid_mean_purchase         522341 non-null float64
mid_mean_add_fav          522341 non-null float64
mid_mean_gender           522341 non-null float64
mid_mean_age_range_1.0    522341 non-null float64
mid_mean_age_range_2.0    522341 non-null float64
mid_mean_age_range_3.0    522341 non-null float64
mid_mean_age_range_4.0    522341 non-null float64
mid_mean_age_range_5.0    522341 non-null float64
mid_mean_age_range_6.0    522341 non-null float64
mid_mean_age_range_7.0    522341 non-null float64
mid_mean_age_range_0.0    522341 non-null float64
mid_time_5                522341 non-null float64
mid_time_6                522341 non-null float64
mid_time_7                522341 non-null float64
mid_time_8                522341 non-null float64
mid_time_9                522341 non-null float64
mid_time_10               522341 non-null float64
mid_time_11               522341 non-null float64
uid_mean_click_times      522341 non-null float64
uid_mean_add_cart         522341 non-null float64
uid_mean_purchase         522341 non-null float64
uid_mean_add_fav          522341 non-null float64
uid_item_count            522341 non-null int64
uid_mid_item_count        522341 non-null int64
uid_mid_item_ratio        522341 non-null float64
uid_cat_count             522341 non-null int64
uid_mid_cat_count         522341 non-null int64
uid_mid_cat_ratio         522341 non-null float64
uid_brand_count           522341 non-null int64
uid_mid_brand_count       522341 non-null int64
uid_mid_brand_ratio       522341 non-null float64
uid_time_count            522341 non-null int64
uid_mid_time_count        522341 non-null int64
uid_mid_time_ratio        522341 non-null float64
dtypes: float64(32), int64(22), uint8(8)
memory usage: 223.2 MB

In [178]:
for_test[for_test.label.isnull()].head()

,user_id,gender,merchant_id,label,act_times,click,add_cart,purchase,add_fav,time_5,...,uid_mid_item_ratio,uid_cat_count,uid_mid_cat_count,uid_mid_cat_ratio,uid_brand_count,uid_mid_brand_count,uid_mid_brand_ratio,uid_time_count,uid_mid_time_count,uid_mid_time_ratio
111,325008,0.0,3906,NaN,5,2,0,1,2,0,...,0.500000,2,1,0.500,2,1,0.500000,3,3,1.000000
112,325008,0.0,4687,NaN,5,3,0,1,1,0,...,0.500000,2,1,0.500,2,1,0.500000,3,2,0.666667
113,282768,0.0,3906,NaN,9,8,0,1,0,0,...,0.583333,8,4,0.500,3,1,0.333333,1,1,1.000000
114,282768,0.0,643,NaN,3,2,0,1,0,0,...,0.083333,8,1,0.125,3,1,0.333333,1,1,1.000000
115,282768,0.0,4568,NaN,5,4,0,1,0,0,...,0.333333,8,3,0.375,3,1,0.333333,1,1,1.000000

# Reorder --> submission order

In [179]:
for_test_label_null = for_test[for_test.label.isnull()]
submission_order = pd.merge(sample_sub, for_test_label_null, on=['user_id','merchant_id'])

In [180]:
submission_order.drop('prob', axis=1, inplace=True)
submission_order.head()
print(submission_order.shape)

(261477, 62)

In [181]:
for_test = for_test.drop(for_test[for_test.label.isnull()].index.tolist())
for_test.shape

(260864, 62)

In [182]:
for_test = pd.concat([for_test, submission_order], axis=0)
for_test.shape

(522341, 62)

In [183]:
# check
for_test[for_test.label.isnull()].merchant_id.head()

0    4605
1    1581
2    1964
3    3645
4    3361
Name: merchant_id, dtype: int64

## Drop user_id and merchant_id

In [184]:
for_test.drop(['user_id', 'merchant_id'], axis=1, inplace=True)
for_test.shape

(522341, 60)

## Move around columns to split x and y easily

In [185]:
label_move_around = for_test['label']
for_test.drop('label', axis=1, inplace=True)
for_test.insert(0,'label',label_move_around)
for_test.head()

,label,act_times,add_cart,add_fav,age_range_0.0,age_range_1.0,age_range_2.0,age_range_3.0,age_range_4.0,age_range_5.0,...,uid_mean_purchase,uid_mid_brand_count,uid_mid_brand_ratio,uid_mid_cat_count,uid_mid_cat_ratio,uid_mid_item_count,uid_mid_item_ratio,uid_mid_time_count,uid_mid_time_ratio,uid_time_count
0,0.0,39,0,2,0,0,0,0,0,0,...,2.25,1,0.25,6,0.666667,20,0.833333,9,1.000000,9
1,0.0,14,0,0,0,0,0,0,0,0,...,2.25,1,0.25,1,0.111111,1,0.041667,3,0.333333,9
2,1.0,18,0,0,0,0,0,0,0,0,...,2.25,1,0.25,1,0.111111,2,0.083333,2,0.222222,9
3,0.0,2,0,0,0,0,0,0,0,0,...,2.25,1,0.25,1,0.111111,1,0.041667,1,0.111111,9
4,0.0,7,0,1,1,0,0,0,0,0,...,1.50,1,0.50,2,0.400000,3,0.375000,2,0.666667,3

In [186]:
for_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522341 entries, 0 to 261476
Data columns (total 60 columns):
label                     260864 non-null float64
act_times                 522341 non-null int64
add_cart                  522341 non-null int64
add_fav                   522341 non-null int64
age_range_0.0             522341 non-null uint8
age_range_1.0             522341 non-null uint8
age_range_2.0             522341 non-null uint8
age_range_3.0             522341 non-null uint8
age_range_4.0             522341 non-null uint8
age_range_5.0             522341 non-null uint8
age_range_6.0             522341 non-null uint8
age_range_7.0             522341 non-null uint8
click                     522341 non-null int64
gender                    522341 non-null float64
mid_label_ratio           522341 non-null float64
mid_mean_add_cart         522341 non-null float64
mid_mean_add_fav          522341 non-null float64
mid_mean_age_range_0.0    522341 non-null float64
mid_mean_age_range_1.0    522341 non-null float64
mid_mean_age_range_2.0    522341 non-null float64
mid_mean_age_range_3.0    522341 non-null float64
mid_mean_age_range_4.0    522341 non-null float64
mid_mean_age_range_5.0    522341 non-null float64
mid_mean_age_range_6.0    522341 non-null float64
mid_mean_age_range_7.0    522341 non-null float64
mid_mean_click_times      522341 non-null float64
mid_mean_gender           522341 non-null float64
mid_mean_purchase         522341 non-null float64
mid_time_10               522341 non-null float64
mid_time_11               522341 non-null float64
mid_time_5                522341 non-null float64
mid_time_6                522341 non-null float64
mid_time_7                522341 non-null float64
mid_time_8                522341 non-null float64
mid_time_9                522341 non-null float64
purchase                  522341 non-null int64
time_10                   522341 non-null int64
time_11                   522341 non-null int64
time_5                    522341 non-null int64
time_6                    522341 non-null int64
time_7                    522341 non-null int64
time_8                    522341 non-null int64
time_9                    522341 non-null int64
time_cov                  522341 non-null float64
uid_brand_count           522341 non-null int64
uid_cat_count             522341 non-null int64
uid_item_count            522341 non-null int64
uid_mean_add_cart         522341 non-null float64
uid_mean_add_fav          522341 non-null float64
uid_mean_click_times      522341 non-null float64
uid_mean_purchase         522341 non-null float64
uid_mid_brand_count       522341 non-null int64
uid_mid_brand_ratio       522341 non-null float64
uid_mid_cat_count         522341 non-null int64
uid_mid_cat_ratio         522341 non-null float64
uid_mid_item_count        522341 non-null int64
uid_mid_item_ratio        522341 non-null float64
uid_mid_time_count        522341 non-null int64
uid_mid_time_ratio        522341 non-null float64
uid_time_count            522341 non-null int64
dtypes: float64(32), int64(20), uint8(8)
memory usage: 215.2 MB

## Split out x

In [187]:
x_for_PCA = for_test.iloc[:, 1:]
y_for_PCA = for_test.iloc[:, 0]
x_for_PCA.shape

(522341, 59)

In [188]:
# x_for_PCA.info()

## Remove Highly Correlated Feature (to be tuned)

In [189]:
corr_matrix = x_for_PCA.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))#upper tri matrix
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
# to_drop = [column for column in upper.columns if any(upper[column] > 0.92)]

# to_drop.remove('time_11')
# to_drop.remove('time_cov')

print(to_drop)
print(len(to_drop))

x_for_PCA.drop(to_drop, axis=1, inplace=True)

['click', 'mid_time_11', 'time_cov']
3

In [190]:
# x_for_PCA_backup = x_for_PCA
# y_for_PCA_backup = y_for_PCA
# for_test_backup = for_test
# x_for_PCA = x_for_PCA_backup
# y_for_PCA = y_for_PCA_backup

x_for_PCA.head()

,act_times,add_cart,add_fav,age_range_0.0,age_range_1.0,age_range_2.0,age_range_3.0,age_range_4.0,age_range_5.0,age_range_6.0,...,uid_mean_purchase,uid_mid_brand_count,uid_mid_brand_ratio,uid_mid_cat_count,uid_mid_cat_ratio,uid_mid_item_count,uid_mid_item_ratio,uid_mid_time_count,uid_mid_time_ratio,uid_time_count
0,39,0,2,0,0,0,0,0,0,1,...,2.25,1,0.25,6,0.666667,20,0.833333,9,1.000000,9
1,14,0,0,0,0,0,0,0,0,1,...,2.25,1,0.25,1,0.111111,1,0.041667,3,0.333333,9
2,18,0,0,0,0,0,0,0,0,1,...,2.25,1,0.25,1,0.111111,2,0.083333,2,0.222222,9
3,2,0,0,0,0,0,0,0,0,1,...,2.25,1,0.25,1,0.111111,1,0.041667,1,0.111111,9
4,7,0,1,1,0,0,0,0,0,0,...,1.50,1,0.50,2,0.400000,3,0.375000,2,0.666667,3

In [191]:
y_for_PCA = y_for_PCA.to_frame(name = 'label')
y_for_PCA.reset_index(drop = True, inplace = True)
# x_for_PCA.reset_index(drop = True, inplace = True)

## PCA (n_components to be tuned)

In [192]:
from sklearn.decomposition import PCA  
pca = PCA(n_components=50)  
new_x_for_PCA = pd.DataFrame(pca.fit_transform(x_for_PCA))  
# new_x_for_PCA = x_for_PCA

In [193]:
new_x_for_PCA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522341 entries, 0 to 522340
Data columns (total 50 columns):
0     522341 non-null float64
1     522341 non-null float64
2     522341 non-null float64
3     522341 non-null float64
4     522341 non-null float64
5     522341 non-null float64
6     522341 non-null float64
7     522341 non-null float64
8     522341 non-null float64
9     522341 non-null float64
10    522341 non-null float64
11    522341 non-null float64
12    522341 non-null float64
13    522341 non-null float64
14    522341 non-null float64
15    522341 non-null float64
16    522341 non-null float64
17    522341 non-null float64
18    522341 non-null float64
19    522341 non-null float64
20    522341 non-null float64
21    522341 non-null float64
22    522341 non-null float64
23    522341 non-null float64
24    522341 non-null float64
25    522341 non-null float64
26    522341 non-null float64
27    522341 non-null float64
28    522341 non-null float64
29    522341 non-null float64
30    522341 non-null float64
31    522341 non-null float64
32    522341 non-null float64
33    522341 non-null float64
34    522341 non-null float64
35    522341 non-null float64
36    522341 non-null float64
37    522341 non-null float64
38    522341 non-null float64
39    522341 non-null float64
40    522341 non-null float64
41    522341 non-null float64
42    522341 non-null float64
43    522341 non-null float64
44    522341 non-null float64
45    522341 non-null float64
46    522341 non-null float64
47    522341 non-null float64
48    522341 non-null float64
49    522341 non-null float64
dtypes: float64(50)
memory usage: 199.3 MB

## concat new_x_for_PCA and y_for_PCA

In [194]:
# for_test = new_x_for_PCA.insert(0, 'label', y_for_PCA)
for_test = pd.concat([y_for_PCA, new_x_for_PCA], axis=1)
# for_test

In [195]:
for_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522341 entries, 0 to 522340
Data columns (total 51 columns):
label    260864 non-null float64
0        522341 non-null float64
1        522341 non-null float64
2        522341 non-null float64
3        522341 non-null float64
4        522341 non-null float64
5        522341 non-null float64
6        522341 non-null float64
7        522341 non-null float64
8        522341 non-null float64
9        522341 non-null float64
10       522341 non-null float64
11       522341 non-null float64
12       522341 non-null float64
13       522341 non-null float64
14       522341 non-null float64
15       522341 non-null float64
16       522341 non-null float64
17       522341 non-null float64
18       522341 non-null float64
19       522341 non-null float64
20       522341 non-null float64
21       522341 non-null float64
22       522341 non-null float64
23       522341 non-null float64
24       522341 non-null float64
25       522341 non-null float64
26       522341 non-null float64
27       522341 non-null float64
28       522341 non-null float64
29       522341 non-null float64
30       522341 non-null float64
31       522341 non-null float64
32       522341 non-null float64
33       522341 non-null float64
34       522341 non-null float64
35       522341 non-null float64
36       522341 non-null float64
37       522341 non-null float64
38       522341 non-null float64
39       522341 non-null float64
40       522341 non-null float64
41       522341 non-null float64
42       522341 non-null float64
43       522341 non-null float64
44       522341 non-null float64
45       522341 non-null float64
46       522341 non-null float64
47       522341 non-null float64
48       522341 non-null float64
49       522341 non-null float64
dtypes: float64(51)
memory usage: 203.2 MB

## Split train and test

In [196]:
train_after_split = for_test[for_test.label.notnull()]
test_after_split = for_test[for_test.label.isnull()]

print(train_after_split.shape, test_after_split.shape)

(260864, 51) (261477, 51)

## Prepare variables for model training

In [197]:
y_train = train_after_split.iloc[:, 0]
x_train = train_after_split.iloc[:, 1:]
y_test = test_after_split.iloc[:, 0]
x_test = test_after_split.iloc[:, 1:]

print(y_train.shape, x_train.shape, y_test.shape, x_test.shape)

(260864,) (260864, 50) (261477,) (261477, 50)

# Leave out some local test set (train_test_split)

In [198]:
from sklearn.cross_validation import train_test_split
# leave_out_x_train, leave_out_x_test, leave_out_y_train, leave_out_y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=18, stratify = y_train)   
# x_train = leave_out_x_train
# y_train = leave_out_y_train

# print(x_train.shape, y_train.shape)

D:\install\anacoda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [199]:
y_train.value_counts()

0.0    244912
1.0     15952
Name: label, dtype: int64

In [200]:
# leave_out_y_test.value_counts()

In [201]:
# # SMOTE

# #oversampling, use SMOTE algorithm
# from imblearn.over_sampling import SMOTE
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import confusion_matrix
# from sklearn.model_selection import train_test_split

# oversampler = SMOTE(random_state=0)
# over_sample_features,over_sample_labels = oversampler.fit_sample(x_train, y_train)

# # over_sample_features.shape (14620, 31).
# # Note it's an array
# # over_sample_features
# # total_rows = over_sample_features.shape[0]
# # 14620 rows in total after oversampling

# x_train = pd.DataFrame(over_sample_features)
# y_train = pd.DataFrame(over_sample_labels)

# y_train[0].value_counts().plot.bar()

In [202]:
ttttt=y_train
ttttt=ttttt.values.squeeze()
y_train=ttttt

# Start training Models

In [203]:
x_train.shape

(260864, 50)

# RF

In [212]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import  metrics  

rf2 = RandomForestClassifier(n_estimators=50, 
                             random_state = 18, 
                             class_weight='balanced',
                             n_jobs=-1,
                             max_features='sqrt',
                            min_samples_leaf = 40,
                            max_depth=10)

# rf2 = RandomForestClassifier(
#     n_estimators = 150, 
#     max_depth = 22,
#     min_samples_split = 15,
#     min_samples_leaf = 4,
#     max_features = 10,
#     oob_score = True, random_state = 10, class_weight='balanced')  

skf_rf = StratifiedKFold(n_splits=5,shuffle=True)

print("Random Forest Analysis")
rf2.fit(x_train, y_train)

pre = rf2.predict(x_train)
predict_label_train = rf2.predict_proba(x_train)[:,1] 

train_auc = metrics.roc_auc_score(y_train,predict_label_train)#
print("Training Accuracy: %.3f"%train_auc)


scores_rf = cross_val_score(rf2, x_train, y_train, cv=skf_rf,verbose=1,scoring='roc_auc')
print("Accuracy of CV: %0.4f (+/- %0.4f)" % (scores_rf.mean(), scores_rf.std()))
# print(scores_rf)


tn, fp, fn, tp = metrics.confusion_matrix(y_train, pre, labels=None, sample_weight=None).ravel()
[tn, fp, fn, tp]
print("TNR: %0.2f, FPR:%0.2f, FNR:%0.2f, TPR:%0.2f"%(tn/(tn+fp),fp/(tn+fp),fn/(fn+tp),tp/(fn+tp)))


# print("On local leave-out test:")
# predict_on_leave_out_test = rf2.predict_proba(leave_out_x_test)[:,1] 
# leave_out_auc = metrics.roc_auc_score(leave_out_y_test, predict_on_leave_out_test)#
# print("AUC on leave-out test: %.3f"%leave_out_auc)



predict_label_test =  rf2.predict_proba(x_test)[:,1]

Random Forest Analysis
Training Accuracy: 0.776

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   55.7s finished

Accuracy of CV: 0.7058 (+/- 0.0066)
TNR: 0.73, FPR:0.27, FNR:0.34, TPR:0.66

In [205]:
# write back to CSV

# xgboost

In [213]:
import lightgbm as lgb
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn import  metrics 

params = {
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss', 'auc'},
    'num_leaves': 5,
    'max_depth': 6,
    'min_data_in_leaf': 450,
    'learning_rate': 0.1,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5,
    'lambda_l1': 1,  
    'lambda_l2': 0.001,  # 越小: L2正则程度越高
    'min_gain_to_split': 0.2,
    'verbose': 5,
    'is_unbalance': True
}



lgbm = lgb.sklearn.LGBMClassifier(
                             class_weight='balanced',
                             n_jobs=-1,
                            )

skf_lgbm = StratifiedKFold(n_splits=5,shuffle=True)

print("lgb")
lgbm.fit(x_train, y_train)

pre = lgbm.predict(x_train)
predict_label_train = lgbm.predict_proba(x_train)[:,1] 

train_auc = metrics.roc_auc_score(y_train, predict_label_train)#
print("Training Accuracy: %.3f"%train_auc)

scores_lgbm = cross_val_score(lgbm, x_train, y_train, cv=skf_lgbm,verbose=1,scoring='roc_auc')
print("AUC of CV: %0.4f (+/- %0.4f)" % (scores_lgbm.mean(), scores_lgbm.std()))
print(scores_lgbm)


tn, fp, fn, tp = metrics.confusion_matrix(y_train, pre, labels=None, sample_weight=None).ravel()
[tn, fp, fn, tp]
print("TNR: %0.2f, FPR:%0.2f, FNR:%0.2f, TPR:%0.2f"%(tn/(tn+fp),fp/(tn+fp),fn/(fn+tp),tp/(fn+tp)))


# print("On local leave-out test:")
# predict_on_leave_out_test = lgbm.predict_proba(leave_out_x_test)[:,1] 
# leave_out_auc = metrics.roc_auc_score(leave_out_y_test, predict_on_leave_out_test)#
# print("AUC on leave-out test: %.3f"%leave_out_auc)


predict_label_test =  lgbm.predict_proba(x_test)[:,1]

lgb

D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Training Accuracy: 0.775

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   11.2s finished

AUC of CV: 0.7101 (+/- 0.0023)
[0.71447795 0.70751696 0.70900414 0.71018748 0.70949157]
TNR: 0.69, FPR:0.31, FNR:0.29, TPR:0.71

In [207]:
# result = pd.DataFrame({'user_id':test_for_output['user_id'].as_matrix(), 
#                        'merchant_id':test_for_output['merchant_id'].as_matrix(), 
#                        'label':predict_label_test.astype(np.float32)},
#                      columns=['user_id','merchant_id','label'])
# result.to_csv("./u_it_cat_b_time_age87_0608_ALL_train_711_LGB_with_PCA46.csv", index = False)

In [208]:
# from sklearn.ensemble import AdaBoostClassifier
# from sklearn.tree import DecisionTreeClassifier

# ada = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(class_weight='balanced'))

# skf_ada = StratifiedKFold(n_splits=5,shuffle=True)

# print("ada Analysis")
# ada.fit(x_train, y_train)

# pre = ada.predict(x_train)
# predict_label_train = ada.predict_proba(x_train)[:,1] 

# train_auc = metrics.roc_auc_score(y_train,predict_label_train)#
# print("Training Accuracy: %.3f"%train_auc)


# scores_ada = cross_val_score(rf2, x_train, y_train, cv=skf_ada,verbose=1,scoring='roc_auc')
# print("Accuracy of CV: %0.2f (+/- %0.2f)" % (scores_rf.mean(), scores_rf.std()))
# # print(scores_rf)


# tn, fp, fn, tp = metrics.confusion_matrix(y_train, pre, labels=None, sample_weight=None).ravel()
# [tn, fp, fn, tp]
# print("TNR: %0.2f, FPR:%0.2f, FNR:%0.2f, TPR:%0.2f"%(tn/(tn+fp),fp/(tn+fp),fn/(fn+tp),tp/(fn+tp)))

# LR

In [214]:
# rescale the data (center and normalize)

from sklearn import preprocessing
normer = preprocessing.StandardScaler()
# x_train_norm = normer.fit_transform(x_train)
# x_test_norm = normer.transform(x_test)
x_train_norm =x_train
x_test_norm = x_test
from sklearn.linear_model import LogisticRegression  
lr = LogisticRegression(penalty = 'l2',class_weight = 'balanced')  

lr.fit(x_train_norm, y_train)  
# lr.score(x_train_norm, y_train)  
# pre = lr.predict(x_train_norm)
skf_lr = StratifiedKFold(n_splits = 5, shuffle = True)

print("Result of LR")

predict_label_train = lr.predict_proba(x_train)[:,1] 

train_auc = metrics.roc_auc_score(y_train,predict_label_train)#
print("Training Accuracy: %.3f"%train_auc)

scores_lr = cross_val_score(lr, x_train_norm, y_train, cv = skf_lr, verbose = 1,scoring='roc_auc')
print("Accuracy of CV: %0.4f (+/- %0.4f)" % (scores_lr.mean(), scores_lr.std()))

tn, fp, fn, tp = metrics.confusion_matrix(y_train, pre, labels = None, sample_weight = None).ravel()
[tn, fp, fn, tp]
print("TNR: %0.2f, FPR:%0.2f, FNR:%0.2f, TPR:%0.2f"%(tn/(tn+fp),fp/(tn+fp),fn/(fn+tp),tp/(fn+tp)))





predict_label_test = lr.predict_proba(x_test_norm)[:,1]

Result of LR
Training Accuracy: 0.718
Accuracy of CV: 0.7116 (+/- 0.0101)
TNR: 0.69, FPR:0.31, FNR:0.29, TPR:0.71

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  3.0min finished

In [210]:
# result = pd.DataFrame({'user_id':test_for_output['user_id'].as_matrix(), 
#                        'merchant_id':test_for_output['merchant_id'].as_matrix(), 
#                        'label':predict_label_test.astype(np.float32)},
#                      columns=['user_id','merchant_id','label'])
# result.to_csv("./LR_0617_cv_0.72.csv", index = False)

In [215]:
from sklearn.ensemble import BaggingClassifier
bb=BaggingClassifier(base_estimator=lgb.sklearn.LGBMClassifier(
                             class_weight='balanced',
                             n_jobs=-1,
                            ), n_estimators=70, max_features=35, bootstrap=True, bootstrap_features=False, n_jobs=-1, random_state=3, verbose=1)
bb.fit(x_train, y_train)  
bb.score(x_train, y_train)  
pre = bb.predict(x_train)
skf_bb = StratifiedKFold(n_splits = 3, shuffle = True)

print("Result of bb")

predict_label_train = bb.predict_proba(x_train)[:,1] 

train_auc = metrics.roc_auc_score(y_train,predict_label_train)#
print("Training Accuracy: %.3f"%train_auc)
scores_bb = cross_val_score(bb, x_train_norm, y_train, cv = skf_bb, verbose = 1,scoring='roc_auc')
print("Accuracy of CV: %0.4f (+/- %0.4f)" % (scores_bb.mean(), scores_bb.std()))

tn, fp, fn, tp = metrics.confusion_matrix(y_train, pre, labels = None, sample_weight = None).ravel()
[tn, fp, fn, tp]
print("TNR: %0.2f, FPR:%0.2f, FNR:%0.2f, TPR:%0.2f"%(tn/(tn+fp),fp/(tn+fp),fn/(fn+tp),tp/(fn+tp)))

[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:  1.8min remaining:  3.6min
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:  1.9min finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:   18.1s remaining:   36.3s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:   21.4s finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:   15.3s remaining:   30.7s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:   21.8s finished

Result of bb

[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:   15.1s remaining:   30.3s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:   21.3s finished

Training Accuracy: 0.782

[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:  1.4min remaining:  2.7min
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:  1.4min finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:    4.3s remaining:    8.7s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:    8.4s finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:  1.3min remaining:  2.7min
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:  1.4min finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:    4.7s remaining:    9.6s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:    8.8s finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:  1.3min remaining:  2.6min
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:  1.4min finished
[Parallel(n_jobs=6)]: Done   2 out of   6 | elapsed:    4.2s remaining:    8.5s
[Parallel(n_jobs=6)]: Done   6 out of   6 | elapsed:    8.3s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  4.7min finished

Accuracy of CV: 0.7122 (+/- 0.0024)
TNR: 0.74, FPR:0.26, FNR:0.34, TPR:0.66

In [ ]:
# predict_label_test = bb.predict_proba(x_test_norm)[:,1] 
# result = pd.DataFrame({'user_id':test_for_output['user_id'].as_matrix(), 
#                        'merchant_id':test_for_output['merchant_id'].as_matrix(), 
#                        'label':predict_label_test.astype(np.float32)},
#                      columns=['user_id','merchant_id','label'])
# result.to_csv("./bagging_lgb_0617_cv_0.71.csv", index = False)

In [216]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from mlxtend.classifier import StackingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
import lightgbm as lgb
from sklearn.ensemble import AdaBoostClassifier
# clf1 = KNeighborsClassifier(n_neighbors=10,n_jobs=-1)

clf1 = LogisticRegression(penalty = 'l2',class_weight = 'balanced')
clf2 = RandomForestClassifier(n_estimators=50, 
                             random_state = 18, 
                             class_weight='balanced',
                             n_jobs=-1,
                             max_features='sqrt',
                            min_samples_leaf = 40,
                            max_depth=10)
clf3 = lgb.sklearn.LGBMClassifier(class_weight='balanced',n_jobs=-1)
# clf4 = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(class_weight='balanced'))
# clf5 = ExtraTreesClassifier(n_jobs=-1,class_weight='balanced')





sclf = StackingClassifier(classifiers=[clf1, clf2, clf3], 
                          meta_classifier=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(class_weight='balanced')))
skf_stack = StratifiedKFold(n_splits = 3, shuffle = True)
print('3-fold cross validation:\n')

for clf, label in zip([clf1, clf2, clf3, sclf], 
                      ['LR', 
                       'Random Forest', 
                       'LGB',
                       'StackingClassifier']):

    scores = cross_val_score(clf, x_train, y_train, 
                                              cv=skf_stack, scoring='roc_auc')
    b
    




predict_label_test = sclf.predict_proba(x_test)[:,1]

3-fold cross validation:

Accuracy: 0.72 (+/- 0.00) [LR]
Accuracy: 0.71 (+/- 0.00) [Random Forest]
Accuracy: 0.71 (+/- 0.00) [LGB]

D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\install\anacoda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Accuracy: 0.65 (+/- 0.00) [StackingClassifier]

NotFittedError: This StackingClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [ ]:
# result = pd.DataFrame({'user_id':test_for_output['user_id'].as_matrix(), 
#                        'merchant_id':test_for_output['merchant_id'].as_matrix(), 
#                        'label':predict_label_test.astype(np.float32)},
#                      columns=['user_id','merchant_id','label'])
# result.to_csv("./0607_649_leave_stk_with_PCA_with_SMOTE_max_fea.csv", index = False)